* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  /* background: url("../image/background.png") no-repeat;
  background-size: 100% 100%; */
  min-width: 1280px;
  height: 100%;
  min-height: 900px;
}
body {
  margin: auto;
  background: url("../image/background.png") no-repeat;
  background-size: 100% 100%;
}
#user_text {
  width: 73%;
  font-size: 2.6vw;
  margin: 10% 0 1% 10%;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 80px;
  letter-spacing: 3px;
}
#line {
  width: 9.4%;
  height: 14px;
  margin-left: 10%;
  background: #ffc33d;
  border-radius: 7px;
}
#opreat_button {
  overflow: hidden;
  margin-left: 10%;
  margin-top: 5%;
}
#opreat_button:last-child {
  margin-top: 1%;
}
#out_box {
  width: 14.5%;
  height: 130px;
  float: left;
}
#out_box:not(:first-of-type) {
  margin-left: 3%;
}
#button_box {
  margin: auto;
  width: 90%;
  height: 100px;
  margin-top: 15px;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  line-height: 100px;
  text-align: center;
  font-size: 1.4vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
}
#button_box:hover {
  color: #0029b5;

  font-weight: 600;
  background: none;
}
#out_box:hover {
  background: url("../image/rect_hover.png") no-repeat;
  background-size: 100% 100%;
}
